{% extends "layouts/base.html" %}

{% block title %}Title from index.html {% endblock %}

{% block content %}
<h2>Cristhian Felipe Ortiz Montero</h2>
<p>Welcome to my personal Django-based site, a creative space where you can explore an album about the best video game consoles photos by my concept, 
    stay informed with recent news, and discover upcoming events. Whether you're interested in photography, 
    gaming, or simply want to keep up with the latest updates, this platform offers a user-friendly experience. 
    Feel free to browse around, leave feedback, and learn more about my work and passions!</p>
{% endblock %}