{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Noticias{% endblock %}

{% block content %}
<h1>Noticias</h1>
<div class="noticias">
    {% for noticia in noticias %}
        <div class="noticia">
            <a href="{% url 'detalle_noticia' noticia.id %}">
                <img src="{{ noticia.foto.url }}" alt="{{ noticia.titulo }}">
            </a>
            <div class="noticia-contenido">
                <h2>{{ noticia.titulo }}</h2>
                <p class="fecha">{{ noticia.fecha_publicacion }}</p>
                <p>{{ noticia.resumen }}</p>
                <a href="{% url 'detalle_noticia' noticia.id %}" class="ver-mas">See more</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}